{
  "presets": [
    ["env", {
      "modules": false,
      "useBuiltIns": "entry"
    }]
  ],
  "plugins": ["transform-runtime"],
  "env": {
    "test": {
      "presets": ["env"],
      "plugins": ["transform-runtime"]
    }
  }
}
