.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# dotenv environment variables file
*.env
*.api.env.js

# Webpack Stats Data
compilation-stats.json
