html,
body {
    font-size: 16px;
    color: #343a40;
    padding: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding: 15px;
    padding-top: 75px;
    padding-bottom: 90px;

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 15px 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        background-color: white;
    }
}

.btn {
    font-size: 1.1rem;
}

.btn-slate {
    background-color: $ford-slate-screen;
    color: white;
}

.form-control:disabled {
    background-color: white !important;
}

.list-group-item {
    padding: 0.375rem 0.75rem;
}
