html,
body {
    font-size: 16px;
    color: #343a40;
    padding: 0;
    margin: 0;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 116px);
    padding: 15px;
    padding-bottom: 90px;

    &__footer {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        padding: 15px 15px;
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        background-color: white;
    }
}

.fade-enter-active {
    transition: all 0.15s ease-out;
}

.fade-leave-active {
    transition: all 0.15s ease-in;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

.btn {
    font-size: 1.1rem;
}

.btn-slate {
    background-color: $ford-slate-screen;
    color: white;
}

.form-control:disabled {
    background-color: white !important;
}

.list-group-item {
    padding: 0.375rem 0.75rem;
}

.modal {
    bottom: 56px !important;
}

.modal-backdrop {
    bottom: 56px !important;
}

.modal-dialog {
    margin: 0 !important;
    padding: 0.5rem !important;
}

.modal-dialog-centered {
    height: calc(100vh - 56px) !important;
}
