html,
body {
    font-size: 18px;
    color: #343a40;
}

.page {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    padding: 15px;
}

.btn-lg {
    font-size: 22px;
}

.btn-slate {
    background-color: $ford-slate-screen;
    color: white;
}
